# Python
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo

# Virtual Environments
venv/
env/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.json
# Jupyter Notebook
.ipynb_checkpoints

# Project Specific
artifacts/
external_data/
